# Debugging Level
#
#  0 - Will produce no output
#  1 - Will print some data but will not alter flow
#  2 - Major steps will stop to allow user to view data. 
#      (note that you will have to press enter to continue)
debug_level             = 1


input_base              = /opt
input_path              = TwinOtter
output_base             = /home/ms6401/
output_path             = image_set

num_bundles             = 5

# For Output Name, do not include the extension (.zip)
output_name             = bundle
compression_type        = zip

# Each camera type will produce a different number of camera directories
num_eo_dir              = 5
num_ir_dir              = 4

eo_images_per_camera    = 1
ir_images_per_camera    = 8

# This is the camera type desired
camera_type             = EO

